.header {
  .navbar-default {
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
    border-radius: initial;
    padding-bottom: 5px;
  }
}
.body {
  min-height: 600px;
}

.footer {
  border-top: 1px solid #AAA;
  padding: 40px 0 40px 0;
}

i.direction {
  padding: 0 15px 0 0;
  float: left;
  color: #2e6da4;
}